form.form-dms {
  display: flex;
  border-top: 2px solid #D3D3D3;
  margin-bottom: 1%;
  margin-top: 5px;
  position: absolute;
  width: 95%;
  bottom: 0px;
  right: 2.5%;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 100%;
  font-size: 1.2em;
  height: 60px;
 
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: snow!important;
  text-transform: uppercase;
  text-decoration: none;
  background: #c6c8ff;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 130px;
  position:relative;
}