@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,200&display=swap");
header {
  border-bottom: 1px solid rgba(100, 99, 99, 0.5);
  margin-bottom: 20px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

header nav .logo {
  font-family: "Noto Serif Display", serif;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

header nav ul li {
  margin: 0 20px;
  cursor: pointer;
}

header nav ul li .fas,
header nav ul li .far {
  font-size: 20px;
}

.user--profile-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 20px 20px 50px;
  border-bottom: 1px solid rgba(100, 99, 99, 0.5);
}

.user--profile-section .user--flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: inherit;
}

.user--profile-section .user--flex-wrapper .username {
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 20px;
}

.user--profile-section .user--flex-wrapper .user--profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1.5px;
}

.user--posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.user--posts .user--post {
  width: 333px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=App.css.map */