/* .all-comments{
  display: flex;

} */
ul.list-comments {
  display: inline;
  float: left;
  background: #3ca2f5;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  justify-content: space-between;

}

p.username{
  display: flex;
  flex-direction: column-reverse;
  color: brown;
  width: 2px;
  height: 2px;
}

p.comment{
  display: flex;
  color: blueviolet;
  width: 2px;
  height: 2px;
}

p.created{
  display: flex;
  flex-direction: row;
  color: rgb(158, 187, 27);
  width: 2px;
  height: 2px;
}