.user--favorite-section {
  h1 {
    text-align: center;
  }
  .user--favorite-wrapper {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    .user--favorite-article {
      width: 500px;
      border: 1px solid rgb(187, 186, 186);
      margin: 20px;
      padding: 10px;
      position: relative;

      .user--favorite-username {
        padding-left: 10px;
        font-weight: bold;
      }

      .user--favorite-image {
        width: 100%;
        height: 600px;
      }
      .user--favorite-trash-button {
        position: absolute;
        bottom: 0px;
        left: 10px;
      }
      .user--favorite-desc {
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .user--favorite-section {
    justify-content: center;
  }
}

@media only screen and (max-width: 1220px) {
  .user--favorite-section {
    justify-content: center;
  }
}
