* {
  margin: 0;
  padding: 0 10px 5px 10px;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(196, 195, 218);
  background: linear-gradient(
    48deg,
    rgba(196, 195, 218, 0.7) 55%,
    rgba(49, 130, 255, 0.6409429982930672) 100%
  );
  background-repeat: no-repeat;
  padding: 0;
}

.App {
  padding: 0;
}

.trash--button {
  background-color: transparent;
  outline: none;
  border: none;
}

.button-bookmark-icon {
  background-color: transparent;
}
