header {
  @include underline;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(
    48deg,
    rgba(196, 195, 218, 1) 55%,
    rgba(49, 130, 255, 1) 100%
  );
  z-index: 6;

  nav {
    @include flex;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    .logo {
      font-family: "Noto Serif Display", serif;
    }

    ul {
      @include flex;
      justify-content: space-between;
      list-style-type: none;
      margin-bottom: 0;

      li {
        margin: 0 20px;
        cursor: pointer;

        .fas,
        .far {
          font-size: 20px;
        }
      }
    }
  }
}
