header {
  @include underline;

  nav {
    @include flex;
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
    .logo {
      font-family: "Noto Serif Display", serif;
    }

    ul {
      @include flex;
      justify-content: space-between;
      list-style-type: none;
      margin-bottom: 0;

      li {
        margin: 0 20px;
        cursor: pointer;

        .fas,
        .far {
          font-size: 20px;
        }
      }
    }
  }
}
