@mixin flex($direction: row, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
}

@mixin underline {
  border-bottom: 1px solid rgba(233, 229, 229, 1);
}
