.user--profile-section {
  @include flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 20px 20px 20px;
  @include underline;

  .user--flex-wrapper {
    @include flex;
    justify-content: space-around;
    width: 90%;

    .username {
      font-weight: bold;
      // margin-left: 20px;
      text-transform: lowercase;
    }

    .user--profile-picture {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 1.5px;
      object-fit: cover;
    }
  }
}

.user--posts {
  @include flex($align-items: flex-start);
  flex-wrap: wrap;
  width: 90%;
  max-width: 1000px;
  margin: auto;

  .user--post {
    width: 333px;
  }
}
